.mainBlock{
    border: 1px solid orangered;
    height: 100vh;
    background-color: #eaa04c;
}

.text{
    width: 300px;
    background-color: bisque;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: bisque;
}